html, body, * {
    font-family: "Barlow", sans-serif;
    font-size: small;
}

button {
    margin-right: 5px;
    margin-bottom: 5px;
}

h3 {
    font-family: "Barlow", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    padding: 1vw 0 1vh;
    margin: 0;
    color: #999;
}

kbd {
    font-family: 'Inconsolata', monospace;
    display: inline-block;
    border-radius: 3px;
    padding: 0 4px 1px;
    box-shadow: 1px 1px 1px #777;
    color: #000;
    background: #eee;
    font-variant: small-caps;
    letter-spacing: 1px;
}



/* Main layout */

.b-page {
    height: calc(100vh - 0.5px);
    margin: 0;
    padding: 0;
}

@media only screen and (orientation : landscape) {
    .b-map-container, .b-objects-management-container {
        /* height: 100%;
        display: table-cell; */
        overflow: auto;
        position: relative;
        float: left;
        height: 100%;
    }
    .b-map-container {
        width: calc(60% - 0.5px);
    }
    .b-objects-management-container {
        width: calc(40% - 0.5px);
    }
    .b-objects-management-container > .wrapper {
        min-height: calc(100vh - 101px);
    }
    #map {
        height: calc(100vh - 0.5px);
    }
}

@media only screen and (orientation : portrait) {
    .b-map-container, .b-objects-management-container {
        width: 100%;
        overflow: auto;
        position: relative;
        float: left;
        height: 100%;
    }
    .b-map-container {
        height: calc(50% - 0.5px);
    }
    .b-objects-management-container {
        height: calc(50% - 0.5px);
    }
    .b-objects-management-container > .wrapper {
        min-height: calc(50vh - 101px);
    }
    #map {
        height: calc(100% - 1px);
    }
}

.b-objects-management-container {
    vertical-align: top;
}

.b-objects-management-container > .wrapper {
    padding: 0 2vw;
}

.b-objects-creation-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.b-all-objects-management {
    margin: 20px 0;
}



/* Inputs */

.search_field {
    width: 200px;
}

.mdc-text-field__input {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: 400;
}

.mdc-text-field {
    width: 100px;
    margin: 10px 10px 5px 0;
}

.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
    margin-top: 0;
}

.mdc-text-field.mdc-text-field--fullwidth {
    width: 100%;
}

.mdc-text-field+.mdc-text-field-helper-line {
    padding: 0;
}

.mdc-text-field-helper-text {
    padding: 0 0 6px 0;
}

code {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    background-color: #eee;
    border-radius: 3px;
    padding: 0 3px;
    white-space: nowrap;
}



/* Table with list of objects */

#objects-list {
    width: 100%;
    border-collapse: collapse;
    visibility: hidden;
}

#objects-list > thead > tr > th {
    color: rgba(0,0,0,0.37);
}

#objects-list > tbody > tr > td, th {
    border-bottom: 1px solid #ccc;
    padding: 6px 10px;
    line-height: 1.4em;
    text-align: center;
}
/*
#objects-list > tbody > tr > td:nth-child(1), td:nth-child(2), td:nth-child(5) {
    text-align: center;
}

#objects-list > tbody > tr > td:nth-child(2), td:nth-child(3) {
    text-align: left;
}
*/
#objects-list > tbody > tr > td:nth-child(3), td:nth-child(4) {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: 400;
}



/* Table with object info */

.b-obj-info-table {
    width: 100%;
    border-collapse: collapse;
}

.b-obj-info-table > tbody > tr > td, th {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    line-height: 1.4em;
    text-align: left;
    vertical-align: top;
}

.b-obj-info-table > tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

.b-obj-info-table > tbody > tr > td:nth-child(2) {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: 400;
}

.b-obj-info-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.b-obj-info-pre {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    background-color: ghostwhite;
    min-height: calc(10vh - 32px);
    max-height: calc(25vh - 32px);
    resize: vertical;
    overflow: auto;
    border: 1px solid silver;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
}

.b-obj-info-pre > * {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
}

.b-obj-info-bold-mono {
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}

.b-obj-info-regular-sans {
    font-weight: 400;
}


/* Table with object settings*/
.b-obj-settings-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.b-obj-settings-table > tbody > tr > td, th {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
}



/* Marker */

.b-marker-icon-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: rgba(51, 136, 255,0.95);
    /* background:linear-gradient(135deg, #007991 0%, #78ffd6 100%); */
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -16px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.b-marker-icon-pin__content {
    position: absolute;
    color: #fff;
    width: 22px;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
}

.b-marker-icon-dot {
    width: 4px;
    height: 4px;
    border-radius: 50% 50% 50% 50%;
    background:rgba(51, 136, 255, 0.95);
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.b-marker-icon-arrow {
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    /*
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -o-transition: .3s linear all;
    -ms-transition: .3s linear all;
    transition: .3s linear all;

     */
}
.b-marker-icon-arrow__shadow {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
/*
.leaflet-marker-pane > * {
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -o-transition: .3s linear all;
    -ms-transition: .3s linear all;
    transition: .3s linear all;
}
*/
/* legacy */
.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: rgba(51, 136, 255,0.95);
    /* background:linear-gradient(135deg, #007991 0%, #78ffd6 100%); */
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -16px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.marker-icon-dot {
    background:rgba(51, 136, 255,0.95);
    border-radius: 50% 50% 50% 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.marker-icon-pin b {
    position: absolute;
    color: #fff;
    width: 22px;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
}

.marker-point-temp-color {
    background: rgba(255, 255, 51,0.55);
}

.ruler-marker-pin {
    position: absolute;
    width: 13px;
    height: 13px;
    top: -8.5px;
    left: -8.5px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50% 50% 50% 50%;
    box-shadow: inset 0 0 0 2px #666;
}

.ruler-marker-pin-popup {
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    padding: 3px 6px;
    margin: 0;
}

.ruler-marker-pin-popup strong {
    font-weight: 600;
}

.ruler-marker-pin-popup span {
    width: 14px;
    height: 14px;
    margin-left: 6px;
    padding: 2px 2px 0 2px;
    color: var(--mdc-theme-primary, #6200ee);
}

.ruler-marker-pin-popup span:hover {
    color: red;
    cursor: pointer;
}

.ruler-marker-pin-popup .leaflet-popup-tip,
.ruler-marker-pin-popup .leaflet-popup-tip-container {
    opacity: 0;
}
.ruler-marker-pin-popup .leaflet-popup-content,
.ruler-marker-pin-popup .leaflet-popup-content-wrapper {
    width: auto;
    background: transparent;
    border: 0;
    border-radius: unset;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.ruler-polyline-path {
    stroke: #777;
    stroke-width: 3;
    stroke-opacity: 0.7;
}

.ruler-polyline-path-bg {
    stroke: #fff;
    stroke-width: 5;
    stroke-opacity: 0.7;
}


/* MDC Tabs */

.mdc-tab-content {
    display: none;
    padding: 10px 0;
}

.mdc-tab-content--active {
    display: block;
}

.mdc-tab {
    outline: none !important;
}

button > .mdi, a > .mdi {
    margin-right: 5px;
}

a > .mdc-button__label {
    text-transform: none;
}

.mdi-icon-button {
    margin-right: 0 !important;
}

.mdc-button {
    min-width: 36px;
}

/* Hints */

.hint-details {
    border: 1px solid rgba(255, 255, 0, 0.3);
    background-color: rgba(255, 255, 0, 0.1);
    border-radius: 4px;
    padding: .5em .5em 0;
    margin: 10px 0 16px;
    color: #555;
    font-weight: 300;
    line-height: 1.5rem;
}

.hint-details:focus, .hint-summary:focus {
    outline: none;
}

.hint-summary {
    font-weight: 500;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}

.hint-details[open] {
    padding: .5em;
}

.hint-details[open] summary {
    /* border-bottom: 1px solid rgba(255, 255, 0, 0.3);
    margin-bottom: .5em; */
}



.meta {
    color: #555;
    border: 1px solid rgba(255, 255, 0, 0.3);
    background-color: rgba(255, 255, 0, 0.1);
    border-radius: 4px;
    padding: 8px 16px;
    margin: 10px 0 16px;
    font-weight: 300;
    line-height: 1.5rem;
}
.meta:hover {
    color: #333;
}

.meta-content {
    display: block;
    padding: 0 1em;
}



/* Leaflet Controls */

.leaflet-touch .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-size: 20px 20px;
}

.mouse-cursor-helper {
    display: block;
    padding: 2px 5px;
    font-family: 'Inconsolata', monospace;
    color: #333;
    /* text-shadow: #fff 1px 1px; */
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 4px; */
    margin-top: 0;
    text-align: right;
}

.mouse-cursor-helper p {
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
}

.user-location-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 1.0);
}

.user-location-control:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.ruler-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 1.0);
}

.ruler-control div {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    line-height: 30px;
}

.ruler-control div:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.ruler-control div:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}

.ruler-control div:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.ruler-control__active {
    color: var(--mdc-theme-primary, #6200ee);
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
}



/* Leaflet Controls */

.leaflet-popup-content {
    width: 250px;
    font-family: 'Roboto', sans-serif;
}

.popup-row {
    display: flex;
    flex-direction: row;
    color: #999;
    padding: 0.2em 0 0.6em;
}

.popup-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.popup-col-1, .popup-col-2 {
    align-self: flex-start;
    min-width: 50px;
}

.popup-col-1 {
    text-align: right;
    padding-right: 15px;
}

.popup-col-2 small {
    font-size: x-small;
}


.popup-col-2 strong {
    font-weight: 600;
}


/* MDC Dialog */
.mdc-dialog {
    z-index: 1000;
}

.mdc-dialog__surface {
    font-size: initial;
    padding: 0 24px;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
}

.mdc-dialog__footer {
    justify-content: start;
    padding: 0 24px 24px;
}

.mdc-dialog__footer > button {
    outline: none !important;
}


/* MDC Snackbar*/
.mdc-snackbar {
    z-index: 9999;
    margin-bottom: 40px;
}

.mdc-snackbar__label {
    font-size: unset;
    margin-right: 10px;
    line-height: 1.5rem;
}

.mdc-snackbar__action {
    color: white;
}

.mdc-snackbar__action:hover {
    color: white;
    background-color: rgb(59,59,59);
}


/* MDC Switch */

.mdc-switch {
    margin-left: 15px;
}

.mdc-switch+label {
    margin-left: 10px;
}